BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

Language: Cpp

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterFunction: true
    AfterEnum: true
    SplitEmptyFunction: true
    AfterNamespace: true
    AfterFunction: true
    SplitEmptyFunction: true
    AfterUnion: true
    BeforeElse: true
    BeforeWhile: true
    AfterControlStatement: Always

AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
PackConstructorInitializers: Never
